body {
  background-color: lightyellow;
}

.names-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  
}

.name {
  padding: 10px;
  margin: 5px;
  font-size: 18px;
  border: 2px solid black;
  border-radius: 10px;
}

.heading {
  text-align: center;
  margin: 0;
}

#f{
  background-color: springgreen;
}

#m {
  background-color: plum;
}

.search {
  margin: 10px;
  font-size: 16px;
  width: 40%;
}

.search-names {
    display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-bar {
  display: flex;
  justify-content: center;
}
